@charset "UTF-8";

/*------------------------------------------------------------
	メインビジュアル
------------------------------------------------------------*/
.mainHdg {
	padding: 18px 50px;
	background: #004f9d;
}

#mainVisual {
	padding-bottom: 80px;
	background: #eff3f5 url(/aj00004/img/mv_bg.jpg) no-repeat right top;
}

#mainVisual .mainImg {
	padding: 30px 40px 12px;
}

#mainVisual .mainImg .lead {
	margin-top: 7px;
}

#mainVisual .offerHdg {
	margin-bottom: 28px;
	position: relative;
	text-align: center;
}

#mainVisual .jobOffer {
	margin-bottom: 135px;
	padding: 0 10px 10px;
	background: linear-gradient(#EFF3F5 0%, #fff 100%);
	display: flex;
	position: relative;

	flex-wrap: wrap;
	justify-content: space-between;
}

#mainVisual .jobOffer:after {
	margin: 0;
	width: 940px;
	height: 85px;
	background: url(/aj00004/img/mv_arrow01.png) no-repeat;
	position: absolute;
	right: 0;
	bottom: -85px;
	left: 0;
	content: "";
}

#mainVisual .jobOffer .jobs {
	margin-top: -25px;
	width: 304px;
	border: 1px solid #111;
	font-weight: bold;
	text-align: center;
}

#mainVisual .jobOffer .jobs .inner {
	padding: 25px 20px 22px;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: left 20px center;
}

#mainVisual .jobOffer .jobs .age {
	min-height: 36px;
	background-color: #111;
	display: flex;
	color: #fff;
	font-size: 2.5rem;
	font-weight: bold;

	align-items: center;
	justify-content: center;
}

#mainVisual .jobOffer .jobs .salary {
	margin-bottom: 2px;
	font-size: 3rem;
	line-height: 1;
}

#mainVisual .jobOffer .jobs .salary .num {
	color: #8c0000;
	font-size: 4rem;
}

#mainVisual .jobOffer .jobs .benefit {
	margin-bottom: 5px;
	display: inline-block;
	font-weight: normal;
	text-align: left;
}

#mainVisual .jobOffer .jobs .benefit li {
	padding-left: 15px;
	position: relative;
}

#mainVisual .jobOffer .jobs .benefit li:before {
	width: 6px;
	height: 6px;
	background: #111;
	position: absolute;
	top: 8px;
	left: 0;
	content: "";
}

#mainVisual .jobOffer .jobs .dealer {
	padding: 3px 0;
	width: 200px;
	background: #004f9d;
	border-radius: 15px;
	display: inline-block;
	color: #fff;
}

#mainVisual .jobOffer .jobs:nth-child(1) .inner {
	background-image: url(/aj00004/img/mv_img01.png);
}

#mainVisual .jobOffer .jobs:nth-child(2) .inner {
	background-image: url(/aj00004/img/mv_img02.png);
}

#mainVisual .jobOffer .jobs:nth-child(3) .inner {
	background-image: url(/aj00004/img/mv_img03.png);
}

/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
#section01 {
	background: #eff3f5;
}

#section01 .hdg02 .companyName {
	color: #004f9d;
	font-size: 3.9rem;
	font-style: italic;
}