@charset "UTF-8";
/*------------------------------------------------------------
  デフォルトスタイル
------------------------------------------------------------*/
html, body, div, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
address,
del, img, ins,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

table, caption, tbody, tfoot, thead, tr, th, td , fieldset, iframe {
  border: 0;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-family: 'メイリオ', Meiryo, "ヒラギノ角ゴシック", 'Hiragino Sans', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*------------------------------------------------------------
  レイアウト
------------------------------------------------------------*/
body {
  line-height: 1.5;
  min-width: 960px;
  width: 100%;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

#container {
  text-align: left;
  background: url(/aj00001/img/bg_body01.png) 0 0 repeat;
}

#main {
  margin: 0 auto;
  padding: 0 0 60px;
  width: 940px;
  background-color: #FFF;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
}

.def {
  display: none;
}

/*------------------------------------------------------------
  ヘッダー
------------------------------------------------------------*/
#header {
  background-color: #FFF;
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.2);
}

#header .inner {
  margin: 0 auto;
  padding: 10px 0 0;
  width: 940px;
  height: 50px;
  position: relative;
}

#header .logo svg {
  width: 217px;
  height: 28px;
}

/*------------------------------------------------------------
  コンテンツ
------------------------------------------------------------*/
.anchBn.subBtn {
  margin: 0 auto 60px;
  width: 488px;
  background: linear-gradient(115deg, #222 0%, #222 25%, #8C0000 26%, #8C0000 100%);
  transition: 0.5s opacity;
}

.anchBn:hover {
  opacity: 0.8;
}

.anchBn.subBtn .free {
  width: 25%;
}
.anchBn.subBtn .free .en {
  font-size: 2.2rem;
}

.anchBn.subBtn .free .ja {
  font-size: 1.6rem;
}

.anchBn.subBtn .support {
  padding: 20px;
  width: 80%;
  font-size: 2.4rem;
}


/*------------------------------------------------------------
  フォーム
------------------------------------------------------------*/
input[type="text"],
textarea {
  border: 1px solid #E6E6E6;
  font-size: 100%;
}

.pulldown {
  border: 1px solid #E6E6E6;
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  overflow: hidden;
}

.pulldown > select {
  padding: 3px 24px 3px 6px;
  width: 100%;
  border: none;
  background-color: #FFF;
  font-size: 1.4rem;
  -webkit-appearance: none;
          appearance: none;
}

.pulldown > select::-ms-expand {
  display: none;
}

.pulldown:after {
  width: 1.8em;
  background: url("/img/common/icon/icon_arrow05.png") center no-repeat;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  content: "";
}

.radioList li {
  display: inline-block;
}

.radioList li:not(:first-child) {
  margin-left: 40px;
}

.radioList li input[type="radio"] {
  display: none;
}

.radioList li label {
  padding-left: 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.75;
  cursor: pointer;
}

.radioList li label:before {
  margin-top: -10px;
  width: 16px;
  height: 16px;
  background: #FFF;
  border: 1px solid #E6E6E6;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
}

.radioList li input[type="radio"]:checked + label:after {
  margin-top: -5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #8C0000;
  position: absolute;
  top: 50%;
  left: 5px;
  content: "";
}

.checkList li {
  display: inline;
}

.checkList li input[type=checkbox] {
  margin-right: 6px;
  display: inline-block;
}

.checkList li input[type=checkbox] + label {
  margin-right: 12px;
  display: inline-block;
  position: relative;
  line-height: 30px;
  cursor: pointer;
}

@media (min-width: 1px) {
  .checkList li input[type=checkbox] {
    margin: 0;
    display: none;
  }
  .checkList li input[type=checkbox] + label {
    padding: 0 0 0 24px;
    line-height: 1.75;
  }
  .checkList li input[type=checkbox] + label::before {
    margin-top: -8px;
    width: 14px;
    height: 14px;
    background: #FFF;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
  }
  .checkList li input[type=checkbox] + label::before {
    border: 2px solid #E6E6E6;
  }
  .checkList li input[type=checkbox]:checked + label::after {
    display: block;
    position: absolute;
    top: 6px;
    content: "";
  }
  .checkList li input[type=checkbox]:checked + label::after {
    width: 14px;
    height: 7px;
    border-left: 3px solid #8C0000;
    border-bottom: 3px solid #8C0000;
    left: 3px;
    transform: rotate(-45deg);
  }
}

#formBox {
  margin: 31px 30px 0;
  padding: 40px 70px;
  border: 5px solid #E2DED8;
  border-radius: 6px;
}

#formBox .formHdg01 {
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid #CC891E;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}

#formBox .formHdg01 svg {
  margin-right: 25px;
  width: 270px;
  height: 40px;
}

#formBox {
  color: #111;
}

#formBox .table01 {
  width: 100%;
  border-collapse: collapse;
}

#formBox .table01 tr {
  border: 1px solid #E6E6E6;
}

#formBox .table01 th,
#formBox .table01 td {
  padding: 20px;
  border: none;
  color: #111;
  vertical-align: middle;
  text-align: left;
}

#conts .formBox form table.table01 th > .acdArea {
  padding: 0 20px;
  position: relative;
}

#conts .formBox form table.table01 td > .acdArea{
  padding: 0 20px;
}

#conts .formBox form table.table01 td {
  line-height: 1.0;
}

#formBox .table01 th {
  padding-right: 70px;
  width: 203px;
  position: relative;
  line-height: 1.6;
}

#formBox .table01 th .must,
#formBox .table01 th .any {
  box-sizing: border-box;
  margin-top: -11px;
  width: 44px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 20px;
  text-align: center;
  font-size: 12px;
}

#formBox .table01 th .must {
  background: #8C0000;
  color: #FFF;
}

#formBox .table01 th .any {
  border: 1px solid #234723;
  color: #234723;
}

#formBox .table01 td input {
  padding: 7px 12px;
}

#formBox .table01 td .notes {
  margin-top: 10px;
  display: block;
}

#formBox .table01 td ul {
  line-height: 1;
}

#formBox .table01 td .pulldown > select {
  height: 30px;
}

#formBox .table01 td #fName,
#formBox .table01 td #fEstablishment {
  width: 310px;
}

#formBox .table01 .nameBox li,
#formBox .table01 .kanaBox li,
#formBox .table01 .birth li {
  display: inline-block;
}

#formBox .table01 .nameBox li label,
#formBox .table01 .kanaBox li label {
  display: inline-block;
  width: 62px;
}

#formBox .table01 .birth li label {
  padding: 0 10px;
  display: block;
}

#formBox .table01 .birth ul {
  display: flex;
}

#formBox .table01 .birth li {
  display: flex;
  align-items: center;
}

#formBox .table01 .nameBox li input,
#formBox .table01 .kanaBox li input {
  width: 150px;
}

#formBox .table01 .birth .year select {
  width: 180px;
}

#formBox .table01 td #fEmail,
#formBox .table01 td #fConfirmation {
  width: 465px;
}

#formBox .table01 td #fConfirmation {
  margin-top: 10px;
}

#formBox .table01 td #fTel {
  margin-bottom: 13px;
  width: 310px;
}

#formBox .table01 td .location li {
  margin-left: 10px;
  float: left;
}

#formBox .table01 td .location li.all {
  margin-left: 0;
  padding-top: 5px;
  float: none;
  clear: left;
}

#formBox .table01 td .location li:first-child {
  margin-left: 0;
}

#formBox .table01 td .location li .pulldown {
  width: 155px;
}

#formBox .table01 td .national {
  margin-top: 20px;
}

#formBox .table01 td #fComp {
  width: 420px;
}

#formBox .table01 td .experience .pulldown {
  width: 170px;
}

#formBox .table01 td .experience .occu_list .pulldown {
  width: 420px;
}

#formBox .table01 td .experience dl {
  margin-top: 10px;
}

#formBox .table01 td .experience dl:first-child {
  margin-top: 0;
}

#formBox .table01 td .experience dl dt,
#formBox .table01 td .experience dl dd {
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
}

#formBox .table01 td .experience dl dt {
  width: 68px;
}

#formBox .table01 td .experience .register dt {
  padding-bottom: 30px;
}

#formBox .table01 td .experience .register dd .pulldown,
#formBox .table01 td .experience .register dd span {
  display: table-cell;
  vertical-align: middle;
}

#formBox .table01 td .experience .register dd span {
  padding: 0 7px;
}

#formBox .table01 td .experience .register dd p {
  margin-top: 16px;
}

#formBox .table01 td .experience .other {
  padding-left: 68px;
  display: none;
}

#formBox .table01 td .experience .other .help {
  width: 420px;
  min-height: 85px;
  line-height: 1.5;
}

#formBox .table01 .error .experience .other .errorTxt {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0;
}

#formBox .table01 td textarea {
  padding: 10px;
  width: 488px;
  min-height: 140px;
  resize: none;
}

#formBox .table01 .error input,
#formBox .table01 .error select,
#formBox .table01 .error textarea {
  background: #FFF7F7;
}

#formBox .table01 .error input[type="radio"],
#formBox .table01 .error input[type="checkbox"] {
  background: none;
}

#formBox .table01 .error .errorTxt {
  margin-top: 0;
  margin-bottom: 13px;
  color: #8C0000;
  text-align: left;
  font-size: 100%;
}

#formBox .table01 .error .experience .errorTxt {
  margin: 15px 0 -10px;
  padding-left: 5em;
}

#formBox .table01 .error .experience .errorTxt:first-child {
  margin-top: 0;
}

#formBox .submitBtn {
  margin: 47px auto 0;
  width: 280px;
  position: relative;
}

#formBox .submitBtn .txt {
  position: absolute;
  margin-top: -0.85em;
  top: 50%;
  left: -11em;
  font-size: 0.858em;
}

#formBox .submitBtn .button {
  margin: 0 0 0 -3px;
}

#formBox .submitBtn .txt a {
  text-decoration: none;
  color: #149290;
}

#formBox .submitBtn .txt a:hover {
  text-decoration: underline;
}

#formBox .submitBtn .warrant {
  width: 190px;
  height: 75px;
  position: absolute;
  top: -5px;
  right: -225px;
}

#formBox .submitBtn .warrant li {
  padding-top: 3px;
  float: right;
}

#formBox .submitBtn .warrant li:first-child {
  padding-top: 0;
  float: left;
}

#formBox .errorTxt {
  margin-bottom: 30px;
  color: #8C0000;
  text-align: center;
  font-size: 115%;
}

#conts .formBox form table.table01 .license {
  border-width: 0 1px;
}

#conts .formBox form table.table01 .license + tr {
  border-top: none;
}

#conts .formBox form table.table01 .license th,
#conts .formBox form table.table01 .license td {
  padding: 0;
}

#conts .formBox form table.table01 .license .checkList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#conts .formBox form table.table01 .license .checkList li {
  margin-bottom: 10px;
  width: 33%;
}

#conts .formBox form table.table01 .license .acdArea input[type="text"] {
  width: 465px;
}

/*------------------------------------------------------------
  フッター
------------------------------------------------------------*/
#footer {
  padding: 5px 10px;
  background-color: #111;
  text-align: center;
}

#footer p {
  color: #FFF;
  font-size: 1.2rem;
  text-align: center;
}

#footer .copyright {
  font-style: normal;
  display: block;
}

/*------------------------------------------------------------
  パーツ
------------------------------------------------------------*/
/* 見出し */
.hdg01 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.hdg01::after {
  margin: 0 auto;
  width: 75%;
  height: 2px;
  background: linear-gradient(to right, rgba(204, 137, 30, 0), rgba(204, 137, 30, 1), rgba(204, 137, 30, 0));
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.hdg01 .time {
  height: 36px;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 80px;
  color: #111;
  font-size: 1.6rem;
  font-weight: normal;
}

.hdg02 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
  color: #111;
  font-size: 3.6rem;
  line-height: 1.25;
  text-align: center;
}

.hdg02::after {
  margin: 0 auto;
  width: 58px;
  height: 10px;
  background: url(/lp/p/img/hdg02_icon.png) no-repeat center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.hdg02 .lead {
  margin-bottom: 10px;
  display: block;
  font-size: 2.7rem;
  color: #CC881E;
}

.hdg02 span {
  color: #8C0000;
}

/* ボタン */
.subBtn {
  margin: 0 auto;
  width: 280px;
  border: none;
  background: linear-gradient(115deg, #222 0%, #222 30%, #8C0000 31%, #8C0000 100%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: stretch;
  color: #FFF;
  text-decoration: none;
  transition: 0.5s opacity;
  -webkit-appearance: none;
          appearance: none;
}

.subBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.subBtn .free {
  padding: 10px 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subBtn .free .en {
  margin-bottom: 8px;
  color: #CC891E;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic;
  font-family: Arial, sans-serif;
  transform: scale(0.9, 1);
  line-height: 1;
}

.subBtn .free .ja {
  font-size: 1.2rem;
  line-height: 1;
}

.subBtn .support {
  padding: 20px 50px;
  width: 70%;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 2px;
}

.subBtn .support .icon {
  padding-right: 30px;
  position: relative;
}

.subBtn .support .icon:before,
.subBtn .support .icon:after {
  position: absolute;
  top: 50%;
  content: "";
}

.subBtn .support .icon:before {
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border: 1px solid #FFF;
  border-radius: 10px;
  right: 0;
}

.subBtn .support .icon:after {
  margin-top: -6px;
  width: 8px;
  height: 8px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #FFF;
  right: 6px;
  transform: rotate(135deg);
}

/* .floatBox */
.flowBox {
  margin-bottom: 30px;
  padding: 30px;
  background-color: #FFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.flowBox:last-of-type {
  margin-bottom: 80px;
  border: 2px solid #CC881E;
}

.flowBox:last-of-type .balloon {
  padding: 5px 0;
  width: 105px;
  border-radius: 5px;
  background-color: #CC881E;
  position: absolute;
  top: -15px;
  left: -10px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.flowBox:last-of-type::after {
  margin: 0 auto;
  width: 220px;
  height: 40px;
  background: url(/aj00001/img/flow_arrow01.png);
  position: absolute;
  right: 0;
  bottom: -42px;
  left: 0;
  content: "";
}

.flowBox:last-of-type .balloon::after {
  width: 0;
  height: 0;
  border-width: 0 5px 7px 5px;
  border-style: solid;
  border-color: transparent transparent #CC881E transparent;
  position: absolute;
  bottom: -3px;
  left: 40px;
  transform: rotate(35deg);
  content: "";
}

.flowBox .txtBox {
  flex: 1 0;
}

.flowBox .imgBox {
  margin-left: 20px;
  position: relative;
}

.flowBox .hdg {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #222;
  font-size: 3rem;
  font-weight: bold;
}

.flowBox .hdg .num {
  margin-right: 5px;
  color: #CC881E;
}

.flowBox .lead {
  margin-bottom: 15px;
  font-size: 1.5rem;
  line-height: 1.75;
}

.flowBox .lead span {
  color: #CC881E;
  font-weight: bold;
}

.flowBox .sampleBox {
  padding: 15px;
  background-color: #FAF4EA;
}

.flowBox .sampleBox:not(:last-child) {
  margin-bottom: 15px;
}

.flowBox .etc {
  text-align: right;
  line-height: 1;
}

.flowBox .imgBox .etc {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* .list01 */
.list01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list01 li {
  padding: 2px 10px 2px 12px;
  position: relative;
  box-sizing: border-box;
}

.list01.double li {
  width: 50%;
}

.list01 li::after {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #CC851E;
  position: absolute;
  top: 0.7em;
  left: 0;
  content: "";
}

/* 背景色 */
.bgGray {
  background-color: #272727;
}

.bgBeige {
  background-color: #F5F3EF;
}

.bgNote {
  margin: 15px auto 0;
  padding: 40px 40px;
  width: 850px;
  background: #FAF4EA;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.bgNote::before {
  margin: 0 auto;
  width: 100%;
  height: 30px;
  background: url(/aj00001/img/bg_note.png) no-repeat top center;
  position: absolute;
  top: -15px;
  right: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.bgNote .hdg {
  margin-bottom: 40px;
  padding: 20px 0;
  border-bottom: 1px solid #111;
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
}

#formCv {
  padding: 0 45px 85px;
  background: url(/aj00001/img/formcv_arrow01.png) no-repeat bottom, linear-gradient(to bottom, #FFF ,#E8E8E8);
  display: flex;
  justify-content: space-between;
}

#formCv .txtBox {
  padding-top: 30px;
  flex: 1 0;
  text-align: center;
}

#formCv .txtBox .hdg {
  margin-bottom: 5px;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  font-style: normal;
}

#formCv .txtBox .lead {
  font-size: 1.6rem;
}