@charset "UTF-8";
/* =========================================================
	multi_step_form
========================================================= */

#conts {
	font-size: 1.0rem;
	padding: 0;
}

form {
	-webkit-tap-highlight-color: transparent;
}

/* .step */
form .step {
	display: flex;
	padding: 10px 10px 0;
}
form .step .meter {
	width: 100%;
	border: 1px solid #CCC;
	border-radius: 6px;
	overflow: hidden;
}
form .step .meter .meter_inner {
	width: 0;
	height: 100%;
	min-height: 16px;
	background: #67A8E1;
	border-radius: 0 6px 6px 0;
	-webkit-transition: width 0.2s ease-in-out;
			transition: width 0.2s ease-in-out;
}
form .step .txt {
	width: 40px;
	font-size: 1.2rem;
	color: #0054A6;
	text-align: right;
}

/* .layerWrapper .layer */
form .layerWrapper {
	height: 327px;
	position: relative;
	/*overflow: hidden;*/
}
form .layer {
	box-sizing: border-box;
	width: 100vw;
	height: 100%;
	background: #FFF;
	padding: 10px;
	-webkit-transition: left 0.2s ease-in-out;
			transition: left 0.2s ease-in-out;
}
form .layer+.layer {
	display: none;
	position: absolute;
	left: 100vw;
	bottom: 0;
}
form .layer.active {
	left: 0;
}

/* .inputArea */
form .layer .inputArea {
	box-sizing: border-box;
	height: 261px;
	border: 1px solid #DDD;
}
form .layer .inputArea dl {
	padding: 10px;
}
form .layer .inputArea dl+dl {
	border-top: 1px solid #DDD;
}
form .layer .inputArea dl dt {
	font-size: 1.6rem;
	line-height: 1.0;
}
form .layer .inputArea dl dt .errorTxt {
	display: none;
	color: #F00;
	padding-left: 10px;
}
form .layer .inputArea dl dd {
	margin-top: 10px;
}
form .layer .inputArea dl dd .selectArea {
	position: relative;
}
form .layer .inputArea dl dd .selectArea:before,
form .layer .inputArea dl dd .selectArea:after {
	content: "";
	position: absolute;
	pointer-events: none;
}
form .layer .inputArea dl dd .selectArea:before {
	box-sizing: border-box;
	width: 20px;
	height: 100%;
	background: linear-gradient(#A2A2A2, #696969);
	border: 1px solid #CCC;
	border-radius: 0 4px 4px 0;
	top: 0;
	right: 0;
}
form .layer .inputArea dl dd .selectArea:after {
	width: 10px;
	height: 10px;
	background: url(/aj00004-sp/img/icon_select.png) no-repeat 0 0;
	background-size: contain;
	top: 15px;
	right: 5px;
}
form .layer .inputArea dl dd .selectArea p,
form .layer .inputArea dl dd .selectArea select {
	-webkit-appearance: none;
			appearance: none;
	box-sizing: border-box;
	width: 100%;
	height: 34px;
	font-size: 1.6rem;
	line-height: 32px;
	background: linear-gradient(#FEFEFE, #DBDBDB);
	padding-left: 10px;
	border: 1px solid #CCC;
	border-radius: 4px;
}
form .layer .inputArea dl dd .selectArea .occupation {
	font-size: 1.4rem;
}
form .layer .inputArea dl dd ul li+li {
	margin-top: 35px;
	position: relative;
}
form .layer .inputArea dl dd ul li+li:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 15px solid #184DA3;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	margin: auto;
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
}
form .layer .inputArea dl dd input {
	appearance: none;
	box-sizing: border-box;
	width: 100%;
	height: 34px;
	color: #777;
	font-size: 1.6rem;
	padding: 0 10px;
	border: 1px solid #E8E8E8;
	border-radius: 4px;
	box-shadow: 3px 3px 3px #B8B8B8 inset;
	-webkit-transition: background 2s ease-in-out;
			transition: background 2s ease-in-out;
}

form .layer .inputArea dl dd .term {
	display: flex;
	align-items: center;
	font-size: 1.6rem;
}
form .layer .inputArea dl dd .term .selectArea {
	width: 85px;
}
form .layer .inputArea dl dd .term .textSpan {
	margin: 0 10px;
}
form .layer .inputArea dl dd .term .textSpan02 {
	margin: 0 5px;
}
form .layer .inputArea dl dd .term+p {
	text-align: right;
}

form .layer .inputArea dl dd.birth {
	display: flex;
	align-items: center;
	font-size: 1.6rem;
}
form .layer .inputArea dl dd.birth [name='_birth_y'] {
	width: 82px;
}
form .layer .inputArea dl dd.birth [name='_birth_m'],
form .layer .inputArea dl dd.birth [name='_birth_d'] {
	width: 68px;
}
form .layer .inputArea dl dd.birth .textSpan02 {
	width: 20px;
}

form .layer .inputArea dl dd.name,
form .layer .inputArea dl dd.ruby {
	display: flex;
	justify-content: space-between;
}
form .layer .inputArea dl dd.name input+input,
form .layer .inputArea dl dd.ruby input+input {
	margin-left: 10px;
}

form .layer .inputArea dl dd.error .selectArea p:not(.noRealTimeValid),
form .layer .inputArea dl dd.error .selectArea select:not(.noRealTimeValid),
form .layer .inputArea dl dd.error input:not(.noRealTimeValid) {
	background: linear-gradient(#EBC5C9, #EBC5C9);
}

/* .agree */
form .layer:last-child .inputArea {
	height: 218px;
}
form .layer .agree .arrow {
	width: 86px;
	height: 20px;
	background: linear-gradient(#FF8D14, #FFBB2F);
	margin: 0 auto 10px;
	position: relative;
}
form .layer .agree .arrow:before,
form .layer .agree .arrow:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
}
form .layer .agree .arrow:before {
	border-top: 10px solid transparent;
	border-left: 21px solid #FFF;
	border-right: 21px solid transparent;
	border-bottom: 10px solid #FFF;
	left: 0;
}
form .layer .agree .arrow:after {
	border-top: 10px solid transparent;
	border-left: 21px solid transparent;
	border-right: 21px solid #FFF;
	border-bottom: 10px solid #FFF;
	right: 0;
}
form .layer .agree .policy {
	color: #333;
	font-size: 1.3rem;
	line-height: 1.0;
	text-align: center;
}
form .layer .agree .policy a {
	color: #09C;
	text-decoration: underline;
}


/* .btnField */
form .layer .btnField {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin: 10px auto 0;
}
form .layer .btnField .subBtn {
	-webkit-appearance: none;
			appearance: none;
	box-sizing: border-box;
	display: block;
	width: calc(100% - 59px);
	height: 36px;
	color: #FFF;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 36px;
	letter-spacing: 0.5em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	background: #186EBC;
	padding: 0;
	border: 1px solid #186EBC;
	border-radius: 4px;
	position: relative;
}
form .layer .btnField .subBtn[type="submit"] {
	background: #EF5214;
	border-color: #EF5214;
}
form .layer .btnField .subBtn:disabled {
	background: #CCC;
	border-color: #CCC;
}
form .layer .btnField .subBtn:after {
	content: "";
	display: block;
	width: 33px;
	height: 29px;
	background: url(/aj00004-sp/img/icon_arrow_next.png) no-repeat 0 0;
	background-size: contain;
	margin: auto;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	opacity: 1;
	-webkit-transition: all 0.6s cubic-bezier(0, 1, 1, 1);
	        transition: all 0.6s cubic-bezier(0, 1, 1, 1);
}
form .layer .btnField .subBtn:disabled:after {
	right: 25px;
	opacity: 0;
}
form .layer .btnField .backBtn {
	width: 49px;
	color: #333;
	font-size: 1.4rem;
	background: linear-gradient(#FFF, #D5D5D5);
	padding: 0;
	padding-left: 15px;
	border: 1px solid #CCC;
	border-radius: 3px;
	position: relative;
}
form .layer .btnField .backBtn:after {
	content: "";
	width: 7px;
	height: 10px;
	background: url(/aj00004-sp/img/icon_arrow_back.png);
	background-size: contain;
	margin: auto;
	position: absolute;
	top: 0;
	left: 6px;
	bottom: 0;
}
form .layer:first-child .btnField {
	justify-content: space-around;
}

/* .slidePanel */
form .slidePanel {
	box-sizing: border-box;
	display: none;
	width: 100%;
	height: 100vh;
	background: #FFF;
	position: fixed;
	top: 100vh;
	left: 0;
	z-index: 1000;
	-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}
form .slidePanel.active {
	top: 0;
}

form .slidePanel .slidePanelInner {
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	padding-bottom: 180px;
	overflow-y: scroll;
}

form .slidePanel .topBox {
	height: 43px;
	line-height: 43px;
	background: #DCDEE2;
	padding-left: 10px;
	position: relative;
}
form .slidePanel .topBox .txt {
	color: #000;
	font-size: 1.5rem;
	font-weight: bold;
}
form .slidePanel .topBox .clsBtn {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	right: 20px;
	bottom: 0;
	margin: auto;
}
form .slidePanel .topBox .clsBtn:before,
form .slidePanel .topBox .clsBtn:after {
	content: "";
	display: block;
	width: 21px;
	height: 2px;
	background: #000;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
form .slidePanel .topBox .clsBtn:before {
	transform: rotate(45deg);
}
form .slidePanel .topBox .clsBtn:after {
	transform: rotate(-45deg);
}

form .slidePanel .license_other label {
	padding: 10px;
}
form .slidePanel .license_other label:before,
form .slidePanel .license_other label:after {
	content: none;
}
form .slidePanel .license_other label textarea {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	border-color: #ddd;
	border-radius: 4px;
	font-size: 16px;
	line-height: 1.5;
}
form .slidePanel .license_other label textarea:disabled {
	background: #eee;
}
form .slidePanel .license_other label textarea::placeholder-shown {
	color: #bbb;
}
form .slidePanel .license_other label textarea::-webkit-input-placeholder {
	color: #bbb;
}

form .slidePanel ul li {
	border-bottom: 1px solid #DDD;
}
form .slidePanel ul li label {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	color: #333;
	font-size: 1.5rem;
	line-height: 1.0;
	padding: 13px 0 10px 30px;
	position: relative;
}
form .slidePanel ul li label:before,
form .slidePanel ul li label:after {
	content: "";
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
}
form .slidePanel ul li label:before {
	background: no-repeat 0 0;
	background-size: contain;
	left: 10px;
}
form .slidePanel ul li label input {
	display: none;
}
form .slidePanel ul li.active {
	background: #FEF2E9;
}
form .slidePanel ul li.active label {
	color: #FF8D14;
	font-weight: bold;
}
form .slidePanel ul.radioBtn li label:before {
	width: 14px;
	height: 14px;
	background-image: url(/aj00004-sp/img/icon_radio.png);
}
form .slidePanel ul.radioBtn li label:after {
	box-sizing: border-box;
	display: none;
	width: 8px;
	height: 8px;
	background: linear-gradient(#FFBB2F 0%, #FF8D14 60%, #FF8D14 100%);
	border: 1px solid #FF8D14;
	border-radius: 100%;
	left: 13px;
}
form .slidePanel ul.radioBtn li.active label:after {
	display: block;
}
form .slidePanel ul.checkbox li label:before {
	width: 15px;
	height: 15px;
	background-image: url(/aj00004-sp/img/icon_check.png);
	background-size: contain;
}
form .slidePanel ul.checkbox li.active label:before {
	background-image: url(/aj00004-sp/img/icon_checked.png);
}

form .slidePanel .selectBtn {
	box-sizing: border-box;
	width: 100%;
	height: 87px;
	text-align: center;
	background: rgba(17,17,17,0.6);
	position: fixed;
	left: 0;
	bottom: -87px;
	padding: 23px 0 18px;
}
form .slidePanel .selectBtn button {
	-webkit-appearance: none;
			appearance: none;
	box-sizing: border-box;
	width: 240px;
	height: 46px;
	color: #FFF;
	font-size: 24px;
	font-weight: bold;
	background: linear-gradient(#FFBB2F 0%, #FF8D14 60%, #FF8D14 100%);
	padding: 0;
	border: 1px solid #FF8D14;
	border-radius: 4px;
}
form .slidePanel .selectBtn button:disabled {
	color: #DFDFDF;
	background: linear-gradient(#FFF, #FFF);
	border-color: #FFF;
}
form .slidePanel .selectBtn button:after {
	content: "";
	display: block;
	width: 33px;
	height: 29px;
	background: url(/aj00004-sp/img/icon_arrow_next.png) no-repeat 0 0;
	background-size: contain;
	margin: auto;
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	opacity: 1;
	-webkit-transform: translateX(110px);
	        transform: translateX(110px);
	-webkit-transition: all 0.6s cubic-bezier(0, 1, 1, 1);
	        transition: all 0.6s cubic-bezier(0, 1, 1, 1);
}
form .slidePanel .selectBtn button:disabled:after {
	right: 50%;
	opacity: 0;
	-webkit-transform: translateX(100px);
	        transform: translateX(100px);
}
form .slidePanel.active .selectBtn {
	bottom: 0;
}

/* .cover */
.cover {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
}